{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<h1 class="text-center mb-3">정보 수정</h1>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.username.id_for_label }}">아이디</label>
        {% render_field form.username class="form-control" %}
    </p>
    <p>
        <label for="{{ form.first_name.id_for_label }}">이름</label>
        {% render_field form.first_name class="form-control" %}
    </p>
    <p>
        <label for="{{ form.last_name.id_for_label }}">성(이름)</label>
        {% render_field form.last_name class="form-control" %}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">이메일(필수)</label>
        {% render_field form.email class="form-control" %}
    </p>
    <p>
        <label for="{{ form.is_seller.id_for_label }}">판매자로 전환</label>
        {% render_field form.is_seller %}
    </p>
    <button class="btn btn-outline-primary  w-100 mb-2" type="submit">변경</button>
</form>
<a class="btn btn-outline-success" href="{% url 'accounts:password_change' %}">비밀번호 변경</a>
<form action="{% url 'accounts:delete_account' %}" method="post" class=" d-inline-block ">
    {% csrf_token %}
    <button class="btn btn-outline-danger  " type="submit" onclick="return confirm('정말로 삭제하시겠습니까?');">계정 삭제</button>
</form>
{% endblock content %}