{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<h1 class="text-center mb-3">비밀번호 재설정</h1>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="{{ form.old_password.id_for_label }}">현재 비밀번호</label>
        {% render_field form.old_password class="form-control" %}
        {% if form.old_password.errors %}
            <div class="alert alert-danger">{{ form.old_password.errors.as_text }}</div>
        {% endif %}
    </p>
    <p>
        <label for="{{ form.new_password1.id_for_label }}">새 비밀번호</label>
        {% render_field form.new_password1 class="form-control" %}
        {% if form.new_password1.errors %}
            <div class="alert alert-danger">{{ form.new_password1.errors.as_text }}</div>
        {% endif %}
    </p>
    <p>
        <label for="{{ form.new_password2.id_for_label }}">새 비밀번호 확인</label>
        {% render_field form.new_password2 class="form-control" %}
        {% if form.new_password2.errors %}
            <div class="alert alert-danger">{{ form.new_password2.errors.as_text }}</div>
        {% endif %}
    </p>
    <button class="btn btn-outline-primary w-100" type="submit">변경</button>
</form>

{% endblock content %}