{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">판매 내역</h2>
    <hr>
    {% if sales_list %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">주문 날짜</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">주문 수량</th>
                    <th scope="col">상품 이미지</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales_list %}
                <tr>
                    <td>{{ sale.order.order_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ sale.product_snapshot.name }}</td>
                    <td>{{ sale.product_snapshot.price|intcomma }}원</td>
                    <td>{{ sale.quantity }}</td>
                    <td>
                        <img src="{{ sale.product_snapshot.product.image.url }}" alt="{{ sale.product_snapshot.product.image.name }}" class="img-fluid" width="80">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        판매 내역이 없습니다.
    </div>
    {% endif %}
</div>
{% endblock content %}